@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

ul > li > a {
    color: #716091;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.3rem;
}

ul > li {
    margin: 1vh 0;
}

.is-primary-font {
    color: #716091;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.1rem;
}

.background-hero {
    background-image: url(../img/stock.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.background-hero {
    background-image: url(../img/stock.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-hero > .hero-body {
    backdrop-filter: blur(8px);
}

.is-info {
    background-color: #5210ce !important;
}

.is-family-montserrat {
    font-family: Montserrat;
}

.is-family-merriweather {
    font-family: Merriweather;
}

#logo {
    padding: 0;
}